<!DOCTYPE html>
<html lang="en">

<head>
    {{> meta}}
    <title>Your Products</title>
    <link rel="stylesheet" href="/styles/navbar.css">
</head>

<body>

    {{>navbar isAdmin=isAdmin}}
    
    <div class="container">
        {{> flashMessage}}
        {{> adminProducts products=products}}
    </div>
</body>

</html>