{{#if msg.length}}
<div class="alert alert-info alert-dismissible fade show my-3" role="alert">
    {{msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close message"></button>
</div>
{{/if}}
